@model CrimeMgmnt.Models.User

@{
    ViewData["Title"] = "Create";
}
<!DOCTYPE html>
<html lang="en">
<head>
</head>
<body style="margin-bottom: 0px; background-image:url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ2BC6rrk6dehLe1lk1R3SS0aCVcOl7CDhvXA&usqp=CAU')">
    <nav class="navbar navbar-expand navbar-dark bg-success">
        <a class="navbar-brand" href="#">
            <img src="~/Images/Cmain3.png" alt="Logo" style="width:50px;">
        </a>
        <div class="container-fluid">
            <a class="navbar-brand" href="./">E-Cyber Cell</a>
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">

                <!-- NAVBAR LINKS -->
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-page="/Index">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-page="/Privacy">About</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#">User</a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item"
                           asp-area="Authority" asp-controller="users" asp-action="Create">Report</a>
                        <a class="dropdown-item" href="https://localhost:44315/Authority/CyberCells">Report Status</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#">Authority</a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item"
                           asp-area="Authority" asp-controller="CyberCells" asp-action="Index">CyberCell</a>
                        <a class="dropdown-item" href="https://localhost:44315/Authority/users">All Records</a>
                    </div>
                </li>
            </ul>
            <partial name="_LoginPartial" />
        </div>
    </nav>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    </body>
    </html>
<h1>Create</h1>

<h4>New Report</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            
            <div class="form-group">
                <label asp-for="UserName" class="control-label"></label>
                <input asp-for="UserName" class="form-control" />
                <span asp-validation-for="UserName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="mobile" class="control-label"></label>
                <input asp-for="mobile" class="form-control" />
                <span asp-validation-for="mobile" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Age" class="control-label"></label>
                <input asp-for="Age" class="form-control" />
                <span asp-validation-for="Age" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CrimePlatform" class="control-label"></label>
                <input asp-for="CrimePlatform" class="form-control" />
                <span asp-validation-for="CrimePlatform" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CrimeDescription" class="control-label"></label>
                <input asp-for="CrimeDescription" class="form-control" />
                <span asp-validation-for="CrimeDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateTime" class="control-label"></label>
                <input asp-for="DateTime" class="form-control" />
                <span asp-validation-for="DateTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Place" class="control-label"></label>
                <input asp-for="Place" class="form-control" />
                <span asp-validation-for="Place" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a href="https://localhost:44315/">Back To Home</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
